<a href="https://colab.research.google.com/github/Rupesh-Kataria/Data-Science-By-CodeBasics/blob/main/Part9_(Merging_Two_DataFrames).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import pandas as pd
india_weather =pd.DataFrame({
    "city":["mumbai","delhi","banglore"],
    "temperature":[32,45,30],
    "humidity":[80,60,78]
})
india_weather

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78

In [33]:
us_weather=pd.DataFrame({
    "city":["new york","chicago","orLando"],
    "temperature":[21,14,35],
    "humidity":[68,65,75]
})
us_weather

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orLando           35        75

In [34]:
#two concat two dataframes 
df=pd.concat([india_weather,us_weather])
df

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78
0  new york           21        68
1   chicago           14        65
2   orLando           35        75

In [35]:
#if we want continuous index then we can pass an argument ignore index
df=pd.concat([india_weather,us_weather],ignore_index=True)
df

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78
3  new york           21        68
4   chicago           14        65
5   orLando           35        75

In [36]:
#we can also create another index apart from numerical index like country index
df=pd.concat([india_weather,us_weather],keys=["india","us"])
df

             city  temperature  humidity
india 0    mumbai           32        80
      1     delhi           45        60
      2  banglore           30        78
us    0  new york           21        68
      1   chicago           14        65
      2   orLando           35        75

In [37]:
df.loc["us"]

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orLando           35        75

In [38]:
temperature_df=pd.DataFrame({
    "city":["mumbai","delhi","banglore"],
    "temperature":[32,45,30]
})
temperature_df

       city  temperature
0    mumbai           32
1     delhi           45
2  banglore           30

In [39]:
windspeed_df=pd.DataFrame({
    "city":["mumbai","delhi","banglore"],
    "windspeed":[7,12,9]
})
windspeed_df

       city  windspeed
0    mumbai          7
1     delhi         12
2  banglore          9

In [40]:
df=pd.concat([temperature_df,windspeed_df],axis=1)
df

       city  temperature      city  windspeed
0    mumbai           32    mumbai          7
1     delhi           45     delhi         12
2  banglore           30  banglore          9

In [41]:
#What if the cities are not in same order in temperatur_df and windspeed_df then we use to provide index to them to concate propely
temperature_df=pd.DataFrame({
    "city":["mumbai","delhi","banglore"],
    "temperature":[32,45,30]
},index=[0,1,2])
temperature_df

       city  temperature
0    mumbai           32
1     delhi           45
2  banglore           30

In [42]:
#Now we assign delhi as index 1 in windspeed_df because it has index one in temperature_df to conconate them properly
windspeed_df=pd.DataFrame({
    "city":["delhi","mumbai"],
    "windspeed":[7,12]
},index=[1,0])
windspeed_df

     city  windspeed
1   delhi          7
0  mumbai         12

In [43]:
df=pd.concat([temperature_df,windspeed_df],axis=1)
df

       city  temperature    city  windspeed
0    mumbai           32  mumbai       12.0
1     delhi           45   delhi        7.0
2  banglore           30     NaN        NaN

In [44]:
temperature_df

       city  temperature
0    mumbai           32
1     delhi           45
2  banglore           30

In [45]:
s=pd.Series(["Humid","Dry","Rain"],name="event")
s

0    Humid
1      Dry
2     Rain
Name: event, dtype: object

In [46]:
df=pd.concat([temperature_df,s],axis=1)
df

       city  temperature  event
0    mumbai           32  Humid
1     delhi           45    Dry
2  banglore           30   Rain

## We can use merge to join two dataframe instead of concate, in merge we do not need to provide the index like we did in above case it automatically detect the city name and merge them