<a href="https://colab.research.google.com/github/Rupesh-Kataria/Data-Science-By-CodeBasics/blob/main/Part5_Pandas(Hadling_missing_data).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/pandas/5_handling_missing_data_fillna_dropna_interpolate/weather_data.csv")
df

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [32]:
df.to_csv("weather_data.csv") 
df1=pd.read_csv("weather_data.csv")
type(df1.day[0])

str

In [33]:
df1

   Unnamed: 0        day  temperature  windspeed   event
0           0   1/1/2017         32.0        6.0    Rain
1           1   1/4/2017          NaN        9.0   Sunny
2           2   1/5/2017         28.0        NaN    Snow
3           3   1/6/2017          NaN        7.0     NaN
4           4   1/7/2017         32.0        NaN    Rain
5           5   1/8/2017          NaN        NaN   Sunny
6           6   1/9/2017          NaN        NaN     NaN
7           7  1/10/2017         34.0        8.0  Cloudy
8           8  1/11/2017         40.0       12.0   Sunny

In [34]:
#since day is in string form we want to convert it into date(time form so we have to parse it)
df1=pd.read_csv("weather_data.csv",parse_dates=["day"])
type(df1.day[0])

pandas._libs.tslibs.timestamps.Timestamp

In [35]:
#Now if i want to set day as index
df1.set_index('day',inplace=True)
df1

            Unnamed: 0  temperature  windspeed   event
day
2017-01-01           0         32.0        6.0    Rain
2017-01-04           1          NaN        9.0   Sunny
2017-01-05           2         28.0        NaN    Snow
2017-01-06           3          NaN        7.0     NaN
2017-01-07           4         32.0        NaN    Rain
2017-01-08           5          NaN        NaN   Sunny
2017-01-09           6          NaN        NaN     NaN
2017-01-10           7         34.0        8.0  Cloudy
2017-01-11           8         40.0       12.0   Sunny

In [36]:
new_df=df.fillna(0)    #filling NaN value with 0
new_df

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          0.0        9.0   Sunny
2   1/5/2017         28.0        0.0    Snow
3   1/6/2017          0.0        7.0       0
4   1/7/2017         32.0        0.0    Rain
5   1/8/2017          0.0        0.0   Sunny
6   1/9/2017          0.0        0.0       0
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [37]:
#if we do not want to fill all dataframe NaN value with 0 then we can use dictionary method 
#Now we can see below the temperature and windspeed is replaced with 0  and wind speed with no event
new_df=df.fillna({
    'temperature':0,
    'windspeed':0,
    'event':'no event'
})
new_df

         day  temperature  windspeed     event
0   1/1/2017         32.0        6.0      Rain
1   1/4/2017          0.0        9.0     Sunny
2   1/5/2017         28.0        0.0      Snow
3   1/6/2017          0.0        7.0  no event
4   1/7/2017         32.0        0.0      Rain
5   1/8/2017          0.0        0.0     Sunny
6   1/9/2017          0.0        0.0  no event
7  1/10/2017         34.0        8.0    Cloudy
8  1/11/2017         40.0       12.0     Sunny

In [38]:
new_df=df.fillna(method="ffill") #ffill means if we have NaN value carry forward the previous value
new_df

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017         32.0        9.0   Sunny
2   1/5/2017         28.0        9.0    Snow
3   1/6/2017         28.0        7.0    Snow
4   1/7/2017         32.0        7.0    Rain
5   1/8/2017         32.0        7.0   Sunny
6   1/9/2017         32.0        7.0   Sunny
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [39]:
#ffill means forward fill value we can also we use bfill backward fill value that is we can fill next day value instead of previous day value
new_df=df.fillna(method="bfill",axis="columns") #it fill horizontally
new_df

         day temperature windspeed   event
0   1/1/2017        32.0       6.0    Rain
1   1/4/2017         9.0       9.0   Sunny
2   1/5/2017        28.0      Snow    Snow
3   1/6/2017         7.0       7.0     NaN
4   1/7/2017        32.0      Rain    Rain
5   1/8/2017       Sunny     Sunny   Sunny
6   1/9/2017         NaN       NaN     NaN
7  1/10/2017        34.0       8.0  Cloudy
8  1/11/2017        40.0      12.0   Sunny

In [40]:
new_df=df.fillna(method="ffill",limit=1)   #it mean we can fill above element to upto 1 value to NaN
new_df

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017         32.0        9.0   Sunny
2   1/5/2017         28.0        9.0    Snow
3   1/6/2017         28.0        7.0    Snow
4   1/7/2017         32.0        7.0    Rain
5   1/8/2017         32.0        NaN   Sunny
6   1/9/2017          NaN        NaN   Sunny
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [41]:
new_df=df.interpolate() #filling intermediate value in between  #linear interpolation
new_df

         day  temperature  windspeed   event
0   1/1/2017    32.000000       6.00    Rain
1   1/4/2017    30.000000       9.00   Sunny
2   1/5/2017    28.000000       8.00    Snow
3   1/6/2017    30.000000       7.00     NaN
4   1/7/2017    32.000000       7.25    Rain
5   1/8/2017    32.666667       7.50   Sunny
6   1/9/2017    33.333333       7.75     NaN
7  1/10/2017    34.000000       8.00  Cloudy
8  1/11/2017    40.000000      12.00   Sunny

In [42]:
#In above intepolate method it consider only mean value it do not consider the time value to get relative average
#so we need to get time weighted interpolation but for that we have to convert the time as index
new_df=df1.interpolate(method="time")
new_df

            Unnamed: 0  temperature  windspeed   event
day
2017-01-01           0    32.000000       6.00    Rain
2017-01-04           1    29.000000       9.00   Sunny
2017-01-05           2    28.000000       8.00    Snow
2017-01-06           3    30.000000       7.00     NaN
2017-01-07           4    32.000000       7.25    Rain
2017-01-08           5    32.666667       7.50   Sunny
2017-01-09           6    33.333333       7.75     NaN
2017-01-10           7    34.000000       8.00  Cloudy
2017-01-11           8    40.000000      12.00   Sunny

In [43]:
#drop all the row with NaN values
new_df=df.dropna()
new_df

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [45]:
# If I want to drop only that  row which have all NaN values considering date as index and leaving index
new_df=df1.dropna(how="all")
new_df

            Unnamed: 0  temperature  windspeed   event
day
2017-01-01           0         32.0        6.0    Rain
2017-01-04           1          NaN        9.0   Sunny
2017-01-05           2         28.0        NaN    Snow
2017-01-06           3          NaN        7.0     NaN
2017-01-07           4         32.0        NaN    Rain
2017-01-08           5          NaN        NaN   Sunny
2017-01-09           6          NaN        NaN     NaN
2017-01-10           7         34.0        8.0  Cloudy
2017-01-11           8         40.0       12.0   Sunny

In [47]:
#if I have atleast one not  NaN value then keep that row that so for that we shoul set threshold=1
new_df=df1.dropna(thresh=1) #so i should keep that row which have atleast one valid value we do not count day in that because it is index
new_df

            Unnamed: 0  temperature  windspeed   event
day
2017-01-01           0         32.0        6.0    Rain
2017-01-04           1          NaN        9.0   Sunny
2017-01-05           2         28.0        NaN    Snow
2017-01-06           3          NaN        7.0     NaN
2017-01-07           4         32.0        NaN    Rain
2017-01-08           5          NaN        NaN   Sunny
2017-01-09           6          NaN        NaN     NaN
2017-01-10           7         34.0        8.0  Cloudy
2017-01-11           8         40.0       12.0   Sunny

In [48]:
#If we want to insert all mid dates in day then we use this below method 
dt=pd.date_range("01-01-2017","01-11-2017")
idx=pd.DatetimeIndex(dt)
df2=df1.reindex(idx)
df2

            Unnamed: 0  temperature  windspeed   event
2017-01-01         0.0         32.0        6.0    Rain
2017-01-02         NaN          NaN        NaN     NaN
2017-01-03         NaN          NaN        NaN     NaN
2017-01-04         1.0          NaN        9.0   Sunny
2017-01-05         2.0         28.0        NaN    Snow
2017-01-06         3.0          NaN        7.0     NaN
2017-01-07         4.0         32.0        NaN    Rain
2017-01-08         5.0          NaN        NaN   Sunny
2017-01-09         6.0          NaN        NaN     NaN
2017-01-10         7.0         34.0        8.0  Cloudy
2017-01-11         8.0         40.0       12.0   Sunny